body {
  margin: 0;
}

#background-img {
  background-image: url("./poor-home-in-haiti.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  opacity: 0.7;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#text-container {
  position: relative;
  z-index: 1;
  padding-top: 15vh;
  padding-left: 17vw;
  width: 65%;
  font-family: 'Muli', sans-serif;
}

h1 {
  font-size: 50px;
  color: black;

}
h2 {
  font-size: 20px;
  color: white;
  padding-left: 2px;
  padding-bottom: 20px;
}

input {
  height: 65px;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  font-size: 25px;
  padding-left: 10px;
}

button {
  width: 100%;
  height: 100%;
  border-color: black;
  border-radius: 0px 10px 10px 0px;
  font-size: 20px;
  color: white;
  background: black;
}


#input-flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#mc_embed_signup {
  width: 100%;
  padding: 0;
}

#mc_embed_signup form {
  padding: 0 !important;

}

.email-input {
  font-family: 'Muli', sans-serif;
  border-radius: 5px;
  display: inline;
  width: 45%;
}

#mc_embed_signup .button {
  background: black !important;
}
#mc_embed_signup .button:hover {
  cursor: pointer;
  background-color: white;
}

#mc_embed_signup_scroll {
  display: flex;
}

#mce-responses.clear {
  padding: 0 !important;
  margin: 0 !important;
  color: white;
  font-size: 20px;
}

.clear {
  font-size: 20px;
}

#mce-responses.clear a {
  width: 75%;
  padding: 0;

}

@media (max-width: 600px) {
  body {
    color: ;
  }
  #text-container {
    margin: auto;
    padding-top: 25vh;
    padding-left: 0;
  }

  h2 {
    padding-bottom: 20px;
    padding-top: 0;
  }
  #mce-responses.clear {
    font-size: 29 px;
    padding: 0;
  }
  .email-input {
    width: 50%;
  }

  #mc_embed_signup #mce-success-response{
    color: white !important;
  }

}

/*prayers*/
#navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

#ul {
  margin: 0;
  padding: 25;
  display: flex;
  align-items: center;
  background-color: ;
  list-style-type: none;
  height: 40px;
  justify-content: space-around;
}

#navbar li {
  list-style-type: none;
}

#navbar a {
  text-decoration: none;
  color: black;
  font-family: garamond;
  font-size: 25px;
  padding: 5px;
}

.who {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80vh;
  font-size: 30px;
  font-family: garamond;
}

.who-title {
  padding: 20px;
  font-size: 40px;
  margin-left: 30px;
}

#team {
  height: 50vh;
}

.kar-with-text {
    text-align: center;
    width: 80%;
}

.kar-with-text img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.ben-with-text {
    text-align: center;
    width: 80%;
}

.ben-with-text img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.stephen-with-text {
    text-align: center;
    width: 80%;
}

.stephen-with-text img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .profile {
    width: 90%;
  }
}
.profile {
  width: 33%;
}

.roles {
  font-size: 24px;
}

#vision {
  height: 50vh;
}

#statement {
  display: flex;
  text-align: center;
  margin: 40px;
}

#verse {
  display: flex;
  text-align: center;
  font-size: 23px;
  margin: 40px;
}

.H4H {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80vh;
  font-size: 30px;
  font-family: garamond;
}

#explain {
  height: 50vh;
}

.jobs-with-text {
    text-align: center;
    display: inline-block;
}

.jobs-with-text img {
    display: block;
    margin-left: 20px;
    width: 40%;
    float: left;
}

#missionH4H {
  height: 50vh;
}

.align {
  margin: 20px;
}

#EcoDom {
  height: 50vh;
}

.ecodom-text img {
  display: block;
  margin-right: 20px;
  width: 35%;
  float: right;
  padding-bottom: 70px;
}

#visionH4H {
  height: 50vh;
}

#con {
  font-size: 40px;
}

#q {
  margin: auto;
  width: 75%;
  padding-bottom: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 50vh;
  font-family: garamond;
  margin: auto;
  font-size: 20px;
  margin-top: 100px;
}

.msg {
    font-size: 20px;
    font-family: garamond;
    width: 70%;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40px;
    width: 170px;
    height: 40px;
  }

  #texty {
    height: 80px;
  }

  .mesg {
    border-radius: 4px;
    font-size: 15px;
    padding-left: 10px;
    font-family: garamond;
    border: none;
    width: 70%;
    height: 50px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #3B5998;
    color: white;
  }

/*end*/
